<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <Header></Header>
    </title>
</head>

<body>
    <header>
        <div>Home</div>
        <div>wallet</div>
    </header>
</body>

</html>